@charset 'UTF-8';
/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --mw : 1440px;
  --gap1 : 16px;
  --gap2 : 8px;
}
.hd {
  max-width: var(--mw);
  margin: auto;
  --point_c1 : #ff6b00;
}
.hd > * {
}

/* top_nav */
.top_nav {
  padding: var(--gap2) 0;
  display: flex;
  justify-content: flex-end;
}
.top_nav > button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: var(--gap2);
  margin-left: var(--gap2);
  transition: 0.3s;
}
.top_nav > button:hover {
  color: var(--point_c1);
}
.fa-sun { 
  display: none;
}
.btn_dark.on .fa-sun{
  display: block;
}
.btn_dark.on body{
  background-color: black;
}
.btn_dark.on .fa-moon{
  display: none;
}
/* gnb */
.main_nav, .main_nav > * {
  /* border: 1px solid rebeccapurple; */
}
.main_nav { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--gap2) 0;
}
.main_nav  img {
  width: 100%;
}
.main_nav .logo , .btn_service{
  width: 180px;
}
.logo {

}
.btn_service {
  text-align: right;
}
.btn_service span {
  background-color: var(--point_c1);
  color: white;
  padding: var(--gap2) var(--gap1);
  display: inline-block;
  border-radius: var(--gap2);
}
.gnb  {
  flex-grow: 1;
  display: flex;
  /* padding-left: calc(var(--gap1) * 4); */
  justify-content: center;
}
.gnb a {
  display: inline-block;
  padding: var(--gap2) var(--gap1);
  /* border: 1px solid rebeccapurple; */
  transition: 0.3s;
  position: relative;
}

.gnb a::before, .gnb a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0px;
  padding-top: 100%;
  border-radius: 50%;
  border: 1px solid var(--point_c1);
  /* background-color: var(--point_c1); */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
}
.gnb a::after {
  border-width: 3px;
  transform: translate(-50%, -50%) scale(0);
}
.gnb a:hover::before, .gnb a:hover::after {
  opacity: 1;
}
.gnb a:hover::after {
  transform: translate(-50%, -50%) scale(1.5);
}
.gnb a:hover {
  color: var(--point_c1);
}